footer{
	@include sectionPadding;
	text-align:center;

	h4{
		font-size: em(20);
	    line-height: 1.3em;
	    font-weight: $bold;
	    letter-spacing: .19em;
	    text-transform: uppercase;
		margin-bottom: 30px;
	}

	a{
		font-size: em(15);
	}

	.hide-mobile{ display: none; }

	@include breakpoint-up(md){

		.hide-mobile{ display: inline-block; }
	}
}