header{
	padding:25px;
	padding-bottom: 0;
	text-align: center;

	.logo{
		font-size: em(20);
	    line-height: 1.3em;
	    font-weight: $bold;
	    letter-spacing: .19em;
	    text-transform: uppercase;
	}

	.header-links{
		margin-top:20px;
		a{
			font-size: em(15);
		}

		.hide-mobile{ display: none; }
	}

	@include breakpoint-up(md){
		padding:30px $gutter;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.header-links{
			margin-top:0;

			.hide-mobile{ display: inline-block; }
		}
	}
} // header